body, html {
  height: 100%;
  margin: 0;
  color: #777;
  
}

.parallax-1, .parallax-2 {
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.parallax-1 {
  background-image: url("https://as2.ftcdn.net/jpg/04/39/93/99/1000_F_439939988_0dyP7r7AOr7uGbNRWleWiKsjqc75vMKm.jpg");
}

.parallax-2 {
  background-image: url("https://as2.ftcdn.net/jpg/04/39/93/99/1000_F_439939972_GxycVL7LuSTEW1jFSOV2GDwq2OqDksGq.jpg");
}

.black-block {
  color: #fdfdfd;
  background-color: #111;
  text-align: center;
  padding: 10px;
}

.caption {
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  color: #000;
  transform: translate(-50%, -50%);
  left: 50%
}

.caption .border {
  color: #000000;
  background-color: rgba(255,255,255,0.7);
  padding: 18px;
  font-size: 30px;
  letter-spacing: 10px;
  border-radius: 15px;
}