html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        table {
            width: 100%;
            height: 100%;
            border-collapse: collapse;
            table-layout: fixed;
        }

        td {
            border: 2px solid black;
            text-align: center;
            vertical-align: middle;
            font-size: 5vw;
        }

        .box1 {
            background-color: #FFD700;
        }

        .box2 {
            background-color: #00BFFF;
        }